.divClass h1 {
    color: blue;

 }
 img {
     width: 400px;
 }
 
 #thirdDiv {
     height: 600px;
     width: 500px;
     background-color: rgb(27, 40, 155);
     padding: 50px;
     border-color: brown;
     border-style: dotted;
 }
 #spanId {
     font-size: 18px;
     margin: 50px;
 }